@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; bottom: 1em;
    font-family: 'Roboto', sans-serif;
}

body {background-image: url(/img/fondoprincipal.jpg);
    background-color: rgb(252, 241, 225);
    background-repeat: no-repeat;
    background-size: cover;}

.OOPS {
    height: 15em;
    position: relative; top: 3em;
}

    .OOPSimg {
    width: 12em;
}

.Taylorimg {
    width: 12em;
    border-radius: 50%;
}

.Error1 {
    height: 4em
}

.Texto1 {
    text-shadow: #B72950 1px 1px 1px;
}

.Error2 {

    height: 13px;
}

.BotonInicio {
    padding: 2em;
}

button {
    outline: none;
    color: #ffffff;
    text-shadow: 2px 2px #B72950;
    font-weight: bold;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    border: 2px dashed #fdf3fa;
    border-radius: 15px;
    background-color: #CE5274;
    box-shadow: 0 0 0 4px #B72950, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out, .4s color;
    cursor: pointer;
  }
  
  button:active {
    transform: translateX(0.1em) translateY(0.1em);
    box-shadow: 0 0 0 4px #2B879E, 1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
    
  }