.baner{padding: 2rem 0;}
.baner img{width: 82vw;}

.info-general, .artista{
    display: grid; 
    grid-template-columns: 1fr;}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*etiquetas turquesa*/
.info h2, .instaFans h3, .fechas h3, .container-ubicacion h3 {
    background-color: var(--turqueza);
    color:var(--blanco); 
    padding: 0.5rem;}

.presentado a{cursor: pointer;}
.presentado{padding-bottom: 0.5rem;}

.fechas{
    display: flex;
    flex-direction: column;}
.fecha{
    display: grid;
    grid-template-columns: auto auto auto;
    border-top: 0.1rem solid rgba(128, 128, 128, 0.651);
    padding: 0.6rem 0.2rem;}

.ubicacion iframe, .visual iframe{
    height: 100%;
    width: 100%;
    border: none;}


.artista .texto {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr;
    
}

.presentado, .instaFans, .fechas, .ubicacion iframe, .container-ubicacion{border-radius: 3px;}
.container-ubicacion h3 {border-radius: 3px 3px 0px 0px;}


.info h2, .presentado h3, .container-ubicacion h3, .fechas h3, .instaFans h3, .logoVibrar, .artista .texto p, .logoVibrar img{
    text-align: center;}

.instaFans, .presentado, .fechas, .ubicacion{border: 2px solid var(--turqueza);}



.fecha {padding: 0.5rem 0.2rem; font-size: 0.7rem;}

.presentado a img {width: 5rem;}
.presentado h3, .logoVibrar{padding: 0.5rem;}
.logoVibrar img {width: 5rem;}

.ubicacion {
    height: 50vh;
    width: auto;}
.ubicacion iframe {
    height: 100%;
    width: 100%;
    border: none; }
.container-ubicacion {padding: 1rem 0rem;}

.info h2, .presentado h3, .container-ubicacion h3, .fechas h3, .instaFans h3, .logoVibrar {
    font-size: 0.8rem;}


.instaFans, .presentado, .fechas, .ubicacion {border: 2px solid var(--turqueza);} 

.container-instaFans, .artista .texto{padding: 1rem 0;}



/*------------MEDIA QUERIES-----------------*/

@media screen and (min-width: 320px){
    .visual {height: 240px;}
    .fecha{font-size: 0.6rem;}
    .instaFans iframe{height: 140px; width: 100%;}
    .baner{padding: 1rem 0;}
    .ubicacion {height: 200px;}
    .info-general{width: 82vw;}
    .artista{padding-top: 2rem;}
}

@media screen and (min-width: 375px){
    .visual {height: 250px;}
    .fecha{font-size: 0.6rem;}
    .instaFans iframe{height: 120px;}
    .ubicacion {height: 300px;}
}

@media screen and (min-width: 425px){
    .visual {height: 290px;}
    .instaFans iframe{height: 110px;}
}

@media screen and (min-width: 768px){
    .visual {height: 470px;}
    .fecha{font-size: 0.6rem;}
    .instaFans iframe{height: 130px;}
    .baner{padding: 2rem 0;}
    .ubicacion {height: 400px;}
}


@media screen and (min-width: 1024px){
    .artista .texto p, .fecha {font-size: 0.8rem;}
    .instaFans iframe{
        width: 100%;
        height: 100px;}
    .baner{padding: 2.5rem 0;}
    .presentado a img{width: 7rem;}

    .visual {height: 350px;}  

    .info h2, .presentado h3, .container-ubicacion h3, .fechas h3, .instaFans h3, .logoVibrar {
        font-size: 1.1rem;
        padding: 1rem;}

    .container-ubicacion{padding:0 0rem 0rem 5rem;} /*lo separa de la info*/

    .info-general{
        grid-template-columns: 1fr 1fr}
    .artista{
        grid-template-columns: 1fr 1fr;
        padding: 3rem 0;
        align-items: center;}
    .artista .texto{padding: 0;}
    .artista .texto {padding-left: 3rem;}
   
    .ubicacion {
        height: 450px;
        width: auto;}

 }
 @media screen and (min-width: 1180px) {
    .instaFans iframe{
        width: 100%;
        height: 130px;}
    .baner{padding: 3rem 0;}
    .visual {height: 390px;}  
    .ubicacion {
        height: 500px;
        width: auto;}

}

@media screen and (min-width: 1280px) {
    .artista .texto p, .fecha {font-size: 1rem;}
    .instaFans iframe{
        width: 100%;
        height: 130px}
    .baner{padding: 3rem 0;}
    .visual {height: 430px;}  

    .info h2, .presentado h3, .container-ubicacion h3, .fechas h3, .instaFans h3, .logoVibrar {
        font-size: 1.1rem;
        padding: 1rem;}

    .container-ubicacion{padding:0 0rem 0rem 5rem;} /*lo separa de la info*/
    .artista .texto{padding: 0;}
    .artista .texto {padding-left: 3rem;}
    
    .ubicacion {
        height: 500px;
        width: auto;}

}



@media screen and (min-width: 1440px) {
    .visual {height: 450px;}
}

@media screen and (min-width: 1800px) {
    .visual {height: 560px;}
    .ubicacion {
        height: 550px;}
}
@media screen and (min-width: 2560px) {
    .visual {height: 750px;} 
    .ubicacion {
        height: 550px;}
}