.baner{padding: 2rem 0;}
.baner img{width: 100%;height: 100%;}

.info-general, .artista{
    display: grid; 
    grid-template-columns: 1fr;}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*etiquetas turquesa*/
.info h2, .instaFans h3, .fechas h3, .container-ubicacion h3 {
    background-color: var(--turqueza);
    color:var(--blanco); 
    padding: 0.5rem;}

.presentado a{cursor: pointer;}
.presentado{padding-bottom: 0.5rem;}

.fechas{
    display: flex;
    flex-direction: column;}
.fecha{
    display: grid;
    grid-template-columns: auto auto auto;
    border-top: 0.1rem solid rgba(128, 128, 128, 0.651);
    padding: 0.6rem 0.2rem;}

.ubicacion iframe, .visual iframe{
    height: 100%;
    width: 100%;
    border: none;}


.artista .texto {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr;
    
}

.presentado, .instaFans, .fechas, .ubicacion iframe, .container-ubicacion{border-radius: 3px;}
.container-ubicacion h3 {border-radius: 3px 3px 0px 0px;}


.info h2, .presentado h3, .container-ubicacion h3, .fechas h3, .instaFans h3, .logoVibrar, .artista .texto p, .logoVibrar img{
    text-align: center;}

.instaFans, .presentado, .fechas, .ubicacion{border: 2px solid var(--turqueza);}



.fecha {padding: 0.5rem 0.2rem; font-size: 0.7rem;}

.presentado a img {width: 5rem;}
.presentado h3, .logoVibrar{padding: 0.5rem;}
.logoVibrar img {width: 5rem;}

.ubicacion {
    height: 50vh;
    width: auto;}
.ubicacion iframe {
    height: 100%;
    width: 100%;
    border: none; }
.container-ubicacion {padding: 1rem 0rem;}

.info h2, .presentado h3, .container-ubicacion h3, .fechas h3, .instaFans h3, .logoVibrar {
    font-size: 0.8rem;}


.instaFans, .presentado, .fechas, .ubicacion {border: 2px solid var(--turqueza);} 

.container-instaFans, .artista .texto{padding: 1rem 0;}



/*------------MEDIA QUERIES-----------------*/

@media screen and (min-width: 320px){
    .visual {height: 40vh;}
    .instaFans iframe{height: 24vh;}}

/*Samsung Galaxy S8+*/
@media screen and (min-width: 360px){
    .visual {height: 35vh;}
    .fecha{font-size: 0.6rem;}
    .instaFans iframe{height: 16vh;}
    .baner{height: 30vh;}
    .ubicacion {
        height: 35vh;}
}

/*iPhone SE*/
@media screen and (min-width: 375px){
    .visual {height: 40vh;}
    .fecha{font-size: 0.6rem;}
    .instaFans iframe{height: 18vh;}
    .baner{height: 30vh;}
    .ubicacion {
        height: 40vh;}
}

/*iPhone 12 Pro, iPhone XR, Pixel 5, Samsung Galaxy S20 Ultra, Samsung Galaxy A51/71*/
@media screen and (min-width: 390px){
    .visual {height: 32vh;}
    .fecha{font-size: 0.7rem;}
    .instaFans iframe{height: 13vh;}
    .baner{height: 25vh;}
    .ubicacion {
        height: 40vh;}
}

/*Surface Duo*/
@media screen and (min-width: 540px){
    .instaFans iframe{
        width: 100%;
        height: 14vh;}
    .baner{
        height: 40vh;
        padding: 2rem 0;
    }
    .presentado a img{width: 8rem;} logos
    .visual {height: 50vh;} 
}

/*iPad Mini*/
@media screen and (min-width: 768px){
    .artista .texto p, .fecha {font-size: 1rem;}
    .instaFans iframe{
        width: 100%;
        height: 13vh;}
    .baner{
        height: 35vh;
        padding: 2rem 0;
    }
    .visual {height: 48vh;}  
}

/*iPad Air*/
@media screen and (min-width: 820px){
    .artista .texto p, .fecha {font-size: 1rem;}
    .instaFans iframe{
        width: 100%;
        height: 11vh;}
    .baner{
        height: 30vh;
        padding: 2rem 0;
    }
    .presentado a img{width: 8rem;} /*logos*/
    .visual {height: 43vh;}  
}

/*Surface Pro 7*/
@media screen and (min-width: 912px){
    .artista .texto p, .fecha {font-size: 1rem;}
    .instaFans iframe{
        width: 100%;
        height: 9.5vh;}
    .baner{
        height: 30vh;
        padding: 2rem 0;
    }
    .visual {height: 41vh;}  
    .info h2,
    .presentado h3,
    .container-ubicacion h3,
    .fechas h3,
    .instaFans h3,
    .logoVibrar {
        font-size: 1.1rem;
        padding: 1rem;}
}



/*Nest Hub*/
@media screen and (min-width: 1024px){
    .artista .texto p, .fecha {font-size: 0.8rem;}
    .instaFans iframe{
        width: 100%;
        height: 17vh;}
    .baner{
        height: 70vh;
        padding: 2rem 0;
    }
    .presentado a img{width: 7rem;} /*logos*/

    .visual {height: 57vh;}  

    .info h2, .presentado h3, .container-ubicacion h3, .fechas h3, .instaFans h3, .logoVibrar {
        font-size: 1.1rem;
        padding: 1rem;}

    .container-ubicacion{padding:0 0rem 0rem 5rem;} /*lo separa de la info*/

    .info-general{
        grid-template-columns: 1fr 1fr}
    .artista{
        grid-template-columns: 1fr 1fr;
        padding: 3rem 0;
        align-items: center;}
    .artista .texto{padding: 0;}
    .artista .texto {padding-left: 3rem;}
   
    .ubicacion {
        height: 80vh;
        width: auto;}

 }

 /*Nest Hub Max*/
@media screen and (min-width: 1280px) {
    .artista .texto p, .fecha {font-size: 1rem;}
    .instaFans iframe{
        width: 100%;
        height: 17vh;}
    .baner{
        height: 70vh;
        padding: 2rem 0;
    }

    .visual {height: 52vh;}  

    .info h2, .presentado h3, .container-ubicacion h3, .fechas h3, .instaFans h3, .logoVibrar {
        font-size: 1.1rem;
        padding: 1rem;}

    .container-ubicacion{padding:0 0rem 0rem 5rem;} /*lo separa de la info*/
    .artista .texto{padding: 0;}
    .artista .texto {padding-left: 3rem;}
    
    .ubicacion {
        height: 65vh;
        width: auto;}

}

 @media screen and (min-width: 1360px) {
    .instaFans iframe{
        width: 100%;
        height: 20vh;}
    .baner{
        height: 80vh;
        padding: 2rem 0;
    }

    .visual {height: 65vh;}  
    .ubicacion {
        height: 80vh;
        width: auto;}

}

@media screen and (min-width: 1440px) {
    .instaFans iframe{
        width: 100%;
        height: 17vh;}
    .baner{
        height: 80vh;
        padding: 2rem 0;
    }

    .visual {height: 57vh;}  
    .ubicacion {
        height: 65vh;
        width: auto;}

}
