.eventos h1 {
    padding: 2rem;
    font-size: 2rem;
    color: var(--casiNegro);
}


.eventos{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background-color: var(--blanco);
}

.row-eventos {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.colum-eventos {
    width: 100%;
    padding: 1rem;
    transition: transform 0.3s;
}

.btn-eventos {
    width: 100%;
    padding: 1rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--turqueza);
    border: solid 1px transparent;
    box-shadow: 0 0 10px grey;
    color: var(--blanco)
}

.eventos-a{
    color: var(--blanco)
}

.flyer-eventos {
    max-height: 90%;
    max-width: 100%;
    display: block;
    flex-grow: 1;
    object-fit: contain;
    border: 1px solid grey;
    border-radius: 8px;
    box-shadow: 0 0 10px grey;
    transition: opacity 0.3s ease;
}

.colum-eventos a {
    cursor:auto;
}

.colum-eventos:hover {
    transform: scale(1.04);
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .colum-eventos a {
        cursor: auto;
    }
    .btn-eventos{
        display: none;
    }
    .flyer-eventos:hover{
        transition: all 0.6s ease;
        filter: brightness(70%);
    }
    .link-img .flyer-eventos{
        display: inline-block;
    }
}



/* ESTILOS DEL BANER DE TAYLOR */
.baner-artista img {border-radius: 5px 5px 0px 0px;}
.baner-artista{
    cursor: pointer !important;} /*el !important no tiene que estar, lo que pasa es que hay algún estilo que conflictúa, hay que quitar ese estilo y luego quitar el !important*/
.btn-eventos {border-radius: 0px 0px 5px 5px;}
