.fondo {
   background-color: #ffffff;
   padding: 0% 5% 0% 5%;
}

#slider {
   margin: 0 auto;
   width: 100%;
   height: 100%;
   text-align: center;
}

#slider input[type=radio] {
   display: none;
}

#slider label {
   cursor: pointer;
   text-decoration: none;
}

#slides {
   padding: 10px;
   border: 1px solid gray;
   background: #ffffff;
   position: relative;
   z-index: 1;
}

#overflow {
   width: 100%;
   overflow: hidden;
}

#slide1:checked~#slides .inner {
   margin-left: 0;
}

#slide2:checked~#slides .inner {
   margin-left: -100%;
}

#slide3:checked~#slides .inner {
   margin-left: -200%;
}

#slide4:checked~#slides .inner {
   margin-left: -300%;
}

#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 60vh;
}

#slides .slide {
   width: 25%;
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
   transition: 2s;
}

#slides .slide_1 {
   background-image: url(/resources/taylorbaner.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

#slides .slide_2 {
   background-image: url(/resources/theweekndbaner.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

@media (max-width: 767px) {
   #slides .slide_2 {
      background-image: url("https://pbs.twimg.com/media/FqoURFgXwAgRxs0?format=jpg&name=large");
   }

   #slides .slide_1 {
      background-image: url("https://cache.umusic.com/_sites/_halo/zrskt/nwff/utbm.jpg");
   }
}

#slides .slide_3 {
   background-image: url(/resources/rhcpbaner.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

#slides .slide_4 {
   background-image: url(/resources/maneskinbaner.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

@media (max-width: 767px) {
   #slides .slide_3 {
      background-image: url("https://www.bloomberglinea.com/resizer/_o81AuPJxx2fbYxnlWdUuEG-ee0=/1440x0/filters:format(jpg):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/bloomberglinea/A2QYAOOE4JF6XFM6L3J7W72X2U.jpeg");
   }

   #slides .slide_4 {
      background-image: url("https://indiehoy.com/wp-content/uploads/2023/03/maneskin.jpg");
   }
}

#controls {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}

#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}

#controls label:hover {
   opacity: 1;
}

#slide1:checked~#controls label:nth-child(2),
#slide2:checked~#controls label:nth-child(3),
#slide3:checked~#controls label:nth-child(4),
#slide4:checked~#controls label:nth-child(1) {
   background-image: url(/img/Flechaderecha.png) no-repeat;
   float: right;
   margin: 0 -50px 0 0;
   display: block;
}

#slide1:checked~#controls label:nth-last-child(2),
#slide2:checked~#controls label:nth-last-child(3),
#slide3:checked~#controls label:nth-last-child(4),
#slide4:checked~#controls label:nth-last-child(1) {
   background-image: url(/img/Flechaizquierda.png) no-repeat;
   float: left;
   margin: 0 0 0 -50px;
   display: block;
}

#bullets {
   margin: 150px 0 0;
   text-align: center;
}

#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius: 100%;
   background: #ccc;
   margin: 0 10px;
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3),
#slide4:checked~#bullets label:nth-child(4) {
   background: #444;
}

@media screen and (max-width: 900px) {

   #slide1:checked~#controls label:nth-child(2),
   #slide2:checked~#controls label:nth-child(3),
   #slide3:checked~#controls label:nth-child(4),
   #slide4:checked~#controls label:nth-child(1),
   #slide1:checked~#controls label:nth-last-child(2),
   #slide2:checked~#controls label:nth-last-child(3),
   #slide3:checked~#controls label:nth-last-child(4),
   #slide4:checked~#controls label:nth-last-child(1) {
      margin: 0;
   }

   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}

aside {
   float: right;
   position: relative;
   bottom: 18.9em;
}

/*MODIFICACIONES DE LOS ESTILOS GENERALES PARA ESTA SECC EN ESPECÃFICO*/
.container-blanco {
   background-color: var(--negro);
}

.redes a,
.derechos a {
   color: var(--blanco);
}

/******************************************************/
.container-slider {
   padding-top: 3rem;
}

/*NOTICIAS*/
.containerNoticias {
   display: grid;
   grid-template-columns: 3fr 3fr 3fr;
   gap: 14px;
   text-align: center;
   color: rgb(0, 0, 0);
}

@media (max-width: 767px) {
   .containerNoticias {
      display: block;
   }
}

.containerCajas {
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
}

.noticiasUno {
   background-color: rgb(255, 255, 255);
   border-radius: 5px;
   padding: 10px;
   text-align: center;
   font-weight: 30px;
   border: 1px solid gray;
   flex: 1 1 300px;
   transition: transform 0.2s, box-shadow 0.2s;
}

.noticiasUno:hover {
   transform: scale(1.01);
   box-shadow: 0 0 0 1px grey;
}

.noticiasUno>img {
   width: 100%;
   height: auto;
}

@media (min-width: 680px) and (max-width: 900px) {
   .containerNoticias {
      display: grid;
      grid-template-columns: 3fr 3fr;
   }
}

@media (min-width: 900px) and (max-width: 1215px) {
   .containerNoticias {
      display: grid;
      grid-template-columns: 3fr 3fr;
   }
}

.titulo {
   font-size: 1.2rem;
   font-family: 'Fasthand';
   color: black;
}

.tituloMusica {
   margin: 2% 0% 2% 0%;
   text-align: left;
}

.tituloFrase {
   text-align: center;
   margin: 5%;
}

.contenedorLogos {
   display: grid;
   grid-template-columns: 3fr 3fr 3fr 3fr;
   gap: 14px;
   color: black;
   justify-content: center;
   margin-top: 20px;
   padding-bottom: 5%;
}

@media (max-width: 600px) {
   .contenedorLogos {
      display: block;
   }
}

@media (min-width: 601px) and (max-width: 1200px) {
   .contenedorLogos {
      grid-template-columns: 3fr 3fr;
   }
}

/*LAS CUATRO CAJAS DE ABAJO DE NOTICIAS*/
.contenedorLogosSecciones {
   text-align: center;
   padding: 10px;
   background-color: rgb(255, 255, 255);
   border-radius: 5px;
   margin-bottom: 30px;
   display: grid;
   border: 1px solid grey;
   transition: transform 0.2s, box-shadow 0.2s;
}

.contenedorLogosSecciones:hover {
   transform: scale(1.01);
   box-shadow: 0 0 0 1px grey;
}

.contenedorLogosSecciones>img {
   text-align: center;
   background-color: violet;
   margin: auto;
}

@media (max-width: 767px) {
   .contenedorLogosSecciones {
      display: block;
      margin-top: 3%;
   }
}