#slider {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #e8e8e8;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 50vh;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    transition: 2s;
 }
 #slides .slide_1 {
    background-image: url(/img/Theerastourslider);
    background-size: cover;
 }
 #slides .slide_2 {
    background-image: url(/img/TheWeekendslider.png);
    background-size: cover;
 }
 #slides .slide_3 {
    background-image: url(/img/RHCPslider.png);
    background-size: cover;
 }
 #slides .slide_4 {
<<<<<<< HEAD:css/styles.css
    background-image: url(/img/TanBionicaslider.png);
=======
    background-image: url(/img/maneskin.png);
>>>>>>> prototipo:css/inicio.css
    background-size: cover;
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background-image: url(/img/Flechaderecha.png) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background-image: url(/img/Flechaizquierda.png) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }

#slides .slide_1:hover {content: url(/img/Theerastourhover2.jpg);
    cursor: pointer;
    opacity: 55%;
}

#slides .slide_2:hover {content: url(/img/ThWeekendhover.png);
    transition: 2s;
    cursor: pointer;
    opacity: 75%;
}

#slides .slide_3:hover {content: url(/img/RHCPhover.png);
    transition: 2s;
    cursor: pointer;
    opacity: 75%;
}

<<<<<<< HEAD:css/styles.css
#slides .slide_4:hover {content: url(/img/Tanbionicahover.png);
=======
#slides .slide_4:hover {content: url(/img/maneskinbaner.jpg);
>>>>>>> prototipo:css/inicio.css
    transition: 2s;
    cursor: pointer;
    opacity: 75%;
}

/* .anuncios {
    width: 20em; 
    height: 20em;
    background-color: #B72950;
    text-align: center;
    position: relative; top: 1em;
    box-shadow: #101010 13px 13px 7px;

    
} */

/* .anunciostexto {
    color: aliceblue;
    padding: 1em;
    background-color: #2B879E;
    text-shadow: #1e1d1d 2px 2px;
} */



/* .Sorteo {width: 20em;
    height: 16em;
    transition: 1s;
    cursor: pointer;
}

.Sorteo:hover {
    -webkit-transform:scale(0.8);transform:scale(0.8);
    overflow:hidden;
} */


/* .cartelera {
    width: 20em; 
    height: 20em;
    background-color: #B72950;
    text-align: center;
    box-shadow: #101010 13px 13px 7px;
} */

aside {float: right;
    position: relative; bottom: 18.9em;
}
/* 
.CarteleraPortada {
    width: 20em;
    height: 16em;
    transition: 1s;
    cursor: pointer;
}

.CarteleraTexto {
    color: aliceblue;
    padding: 1em;
    background-color: #2B879E;
    text-shadow: #1e1d1d 2px 2px;
}

.CarteleraPortada:hover {
    -webkit-transform:scale(0.8);transform:scale(0.8);
    overflow:hidden;
} */





/*MODIFICACIONES DE LOS ESTILOS GENERALES PARA ESTA SECC EN ESPECÍFICO*/
.container-blanco{
   background-color: var(--negro);}
.redes a, .derechos a{color: var(--blanco);}


/******************************************************/
.container-slider{padding-top: 3rem;} /*separa al slider del nav*/

/*separa las cajas del slider y las alinea*/
.container-info{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 3rem 0rem;}

/*dos columnas*/
.info{ 
   display: grid;
   grid-template-columns: auto auto;
   gap: 4rem;}

/*estilos de las dos cajitas*/
.cartelera, .noticias{
   height: 100%;
   background-color: var(--blanco);
   border-radius: 2px;
   padding: 0.3rem;}

.cartelera img, .noticias img{
   width: 100%;
   border-radius: 2px;}

.cartelera h2, .noticias h2{
   text-align: center;
   font-size: 1.5rem;
   padding: 1rem;}


