.containerContenido{
    background-color: var(--blanco);
    height: 100%;
    padding-bottom: 7rem;
}

.containerGrid{
    display: grid;
    grid-template-areas: "baner baner baner"
                         "col1 col2 col3";
}

.baner{
    height: 350px;
    width: 100%;
    margin-top: 2rem;
    grid-area: baner;
    margin-bottom: 3rem;
}
.baner-fondo{
    background-image: url(baners/8be936d0-c27f-4e8e-971d-271552b74322.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 80%;
    margin: auto;
    
}
.col1, .col2, .col3{
    width: auto;
    padding: 0px 20px;
}
.col1{
    height: 420px;
    grid-area: col1;
}
.col2{
    height: 420px;
    grid-area: col2;
}
.col3{
    height: 420px;
    grid-area: col3;
} 

.presentado-logo{width: 120px;}
.presentado-titulo, .preventa-titulo{
    padding: 15px 0px; 
    font-size: 0.9rem;
    }


.preventa{
    background-color: var(--turqueza);
    color: var(--blanco);  
    border-radius: 2px;
}

 .presentado, .insta2, .logoV{
    padding-bottom: 1rem;
}
.logoV{
    padding-top: 2rem;
}

.fechas, .ubicacion{ padding-bottom: 1rem;
}

.preventa, .ubicacion-iframe, .fecha-grid, .foto-artista, .container-foto-artista{
    border-radius: 3px;
    border: none;
}
.fecha-grid{
    margin-top: 2px;
}
.opacidad{
    transition: all 2s ease-out; 
}

.fecha-grid{
    display: grid;
    grid-template-columns: 120px 160px 134px;
    font-size: 0.7rem;
    border: 0.1px solid rgba(128, 128, 128, 0.753);
    padding: 10px 5px;
    text-align: center;
    font-weight: bold;

}


.col1, .col2{
    padding-top: 15px;
}