.containerContenido{
    background-color: var(--blanco);
    height: 100%;
}

.containerGrid{
    display: grid;
    grid-template-areas: "baner baner baner"
                         "col1 col2 col3";
}

.baner{
    height: 300px;
    width: 1100px;
    margin-top: 2rem;
    grid-area: baner;
    margin-bottom: 3rem;
}
.baner-fondo{
    /* border: 2px solid var(--turqueza); */
    background-image: url(resources/8961865.jpg);
    background-size: cover;
    height: 100%;
    width: 1000px;
    margin: auto;
    background-position-y: -100px;
}

.col1, .col2, .col3{
    height: 500px;
    width: 400px; 
}

.col1{grid-area: col1;   }

.col2{
    grid-area: col2;
    padding: 0px 10px;
}

.col3{
    grid-area: col3;
    padding: 0px 30px;
}

.presentado-logo{width: 120px;}
.presentado-titulo, .preventa-titulo{padding: 20px 0px;}

.insta-perfil{width: 350px;}
.instagrams-artista{padding-top: 5rem;}

.preventa{
    background-color: var(--turqueza);
    color: var(--blanco);  
}

.ubicacion-api, .fechas-img{ width: 100%;}

.ubicacion-api, .fechas-img{ padding-top: 3rem;}


.img-artista{
    height: 500px;
    width: 340px;
    background-image: url(resources/9286711.jpg);
    background-size: cover;
    background-position: -250px;
}

a{text-decoration: none;}