.containerContenido{
    background-color: var(--blanco);
    height: 100%;
    justify-content: center;
}

.pantalla{
    margin-top: 0;
    /* height: 100%;
    text-align: center; */
}

.logo-en-pagina{
   padding-top: 3rem;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.contacto-texto{
    padding-top: 20px;
}

.containerTexto{
    width: 900px;
    margin: 0 auto;
}

.Formulario{
    width: 900px;
    height: 100%;
    padding: 3rem 0px;
     
}

.control{
    width: 100%;
    background-color: lightgray;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px gray;
    font-family: 'Roboto';
    font-size: 18px;
}

.control1{
    width: 100%;
    background-color: lightgray;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px gray;
    font-family: 'Roboto';
    font-size: 18px;
}

.Botons{
    width: 100%;
    background-color: grey;
    border: none;
    padding: 12px;
}

.logoContacto{
    height: 100px;
}

.boton-enviar{
    cursor: pointer;
}
.boton-enviar:hover{
    background-color: var(--turqueza);
}