/*VARIABLES DE USO GENERAL.*/
:root{
    --rosaFuerte: #B72950;
    --rosaMedio: #ce4a6d;
    --rosaClaro: #fc6f94;
    --turqueza: #2B879E;
    --celeste: #3BC1E2;
    --blanco: #ffffff;
    --casiNegro: #080808;
}

/*APLICA A TODA LA PÁGINA*/
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

/*GRADIENTE*/
.gradiente{
    background: linear-gradient(var(--rosaFuerte), var(--casiNegro)); 
    height:100%; 
    background-attachment: fixed;
}

/*PRINCIPAL Nos limita el espacio en pantalla sin tener que aplicar bordes o márgenes*/
.containerContenido{width: 90vw;
    padding-bottom: 2rem}

/*CENTRADO TOTAL Aplicar al contenedor padre*/
.centradoAbsoluto{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*BOTONES*/
.boton1, .boton2{
    min-width: 5rem;
    outline: none;
    padding: 10px 20px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--casiBlanco);
}
.boton1{ background-color: var(--turqueza);}
.boton1:hover{
    background-color: var(--celeste);
    transition: 0.3s;
}
.boton2{background-color: var(--rosaFuerte);}
.boton2:hover{
    background-color: var(--rosaClaro);
    transition: 0.3s;
}

/*TAMAÑOS DE FUENTES*/
.fs-1{font-size: 1rem;}
.fs-2{font-size: 1.5rem;}
.fs-3{font-size: 2rem;}

/*TEXTO CENTRADO*/
.centrarTexto{text-align: center;}


.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    color: var(--blanco);
    background-color: var(--rosaMedio);
}

.nav-items{
    display: flex;
    justify-content: space-between;
    padding-right: 3em;  
}

.nav-item{
    margin: 0px 2.5rem;
    font-size: 1.1rem;
    padding: 0.2rem 0.7rem;
}

.logo{
    margin-left: 5rem;
    padding: 0rem 0.5rem;
    font-size: 1.1rem;
}

.nav-item:hover{
    cursor: pointer;
    border-bottom: 1px solid var(--celeste);
}

.pantalla{
    margin-top: 2rem;
    padding-bottom: 2rem;
}