/*VARIABLES DE USO GENERAL. modo de uso: var(--rosaClaro). Van a poder acceder a estas variables desde el css particular, asi que no las tienen que volver a declarar.*/
:root{
    --rosaFuerte: #B72950;
    --rosaMedio: #ce4a6d;
    --rosaClaro: #fc6f94;
    --turqueza: #2B879E;
    --celeste: #3BC1E2;
<<<<<<< HEAD
    --blanco: #ffffff;
=======
    --casiBlanco: #f3ecec;
>>>>>>> 9ebeb038ada75f59b5a30a9c281c2fb485d6baee
    --casiNegro: #080808;
}

/*APLICA A TODA LA PÁGINA*/
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border-box le dice al navegador tomar en cuenta para cualquier valor que se especifique de borde o de relleno para el ancho o alto de un elemento. Es decir, si se define un elemento con un ancho de 100 pixeles. Esos 100 pixeles incluíran cualquier borde o relleno que se añadan, y la caja de contenido se encogerá para absorber ese ancho extra. Esto típicamente hace mucho más fácil dimensionar elementos. */

    /*font-family: ;*/
}
<<<<<<< HEAD
html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

/*GRADIENTE*/
.gradiente{background: linear-gradient(var(--rosaFuerte), var(--casiNegro)); height:100%; background-attachment: fixed;}

/*PRINCIPAL Nos limita el espacio en pantalla sin tener que aplicar bordes o márgenes*/
.containerContenido{width: 90vw;
    padding-bottom: 2rem}
=======
html, body{height: 100%;}

/*GRADIENTE*/
.gradiente{background: linear-gradient(var(--rosaFuerte), var(--casiNegro));}

/*PRINCIPAL Nos limita el espacio en pantalla sin tener que aplicar bordes o márgenes*/
.containerContenido{width: 90vw;}
>>>>>>> 9ebeb038ada75f59b5a30a9c281c2fb485d6baee

/*CENTRADO TOTAL Aplicar al contenedor padre*/
.centradoAbsoluto{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*BOTONES*/
.boton1, .boton2{
    min-width: 5rem;
    outline: none;
    padding: 10px 20px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
<<<<<<< HEAD
    color: var(--blanco);
=======
    color: var(--casiBlanco);
>>>>>>> 9ebeb038ada75f59b5a30a9c281c2fb485d6baee
}
.boton1{ background-color: var(--turqueza);}
.boton1:hover{
    background-color: var(--celeste);
    transition: 0.3s;
}
.boton2{background-color: var(--rosaFuerte);}
.boton2:hover{
    background-color: var(--rosaClaro);
    transition: 0.3s;
}

/*TAMAÑOS DE FUENTES*/
.fs-1{font-size: 1rem;}
.fs-2{font-size: 1.5rem;}
<<<<<<< HEAD
.fs-3{font-size: 2rem; font-family: 'Tauri', sans-serif;}
=======
.fs-3{font-size: 2rem;}
>>>>>>> 9ebeb038ada75f59b5a30a9c281c2fb485d6baee

/*TEXTO CENTRADO*/
.centrarTexto{text-align: center;}


.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
<<<<<<< HEAD
    width: 100%;
    height: 10vh;
    color: var(--blanco);
=======
    width: 100vw;
    height: 10vh;
    color: var(--casiBlanco);
>>>>>>> 9ebeb038ada75f59b5a30a9c281c2fb485d6baee
    background-color: var(--rosaMedio);
}

.nav-items{
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD
    padding-right: 3em;  
=======
    padding-right: 4em;  
>>>>>>> 9ebeb038ada75f59b5a30a9c281c2fb485d6baee
}

.nav-item{
    margin: 0px 2.5rem;
    font-size: 1.1rem;
    padding: 0.2rem 0.7rem;
}

.logo{
<<<<<<< HEAD
    margin-left: 5rem;
=======
    margin-left: 6rem;
>>>>>>> 9ebeb038ada75f59b5a30a9c281c2fb485d6baee
    padding: 0rem 0.5rem;
    font-size: 1.1rem;
}

.nav-item:hover{
    cursor: pointer;
    border-bottom: 1px solid var(--celeste);
}

<<<<<<< HEAD
/* .pantalla{margin-top: 1rem;} */
.pantalla{
    padding-bottom: 2rem;
}
=======
.pantalla{margin-top: 1rem;}
>>>>>>> 9ebeb038ada75f59b5a30a9c281c2fb485d6baee
