:root{
  --rosaFuerte: #B72950;
  --rosaMedio: #ce4a6d;
  --rosaClaro: #fc6f94;
  --turqueza: #2B879E;
  --celeste: #3BC1E2;
  --blanco: #ffffff;
  --casiNegro: #080808;
}

footer {
  background: linear-gradient(var(--rosaFuerte), var(--casiNegro)); 
  height: 20vh;
  color: var(--blanco);
  margin-top: 600px;
  
}
.icons-footer{
    color: var(--blanco);
    font-size: 1.5rem;
    padding: 0px 10px; 
}
.icons-footer:hover{color: var(--turqueza);
}
.derechos, .redes, .nombres {
    align-items: baseline;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
}
.nombres {display: inline-block;
}
.redes {padding-bottom: 20px;
}